@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
}
div{
    
    box-sizing: border-box;
    display: inline-block;
    
} 
.section3{
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
}
div.textWrapper{
    width: 540px;
}

.textWrapper>span{
    font-size: 16.73px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    color: #2E3A55;
}
.textWrapper>h2{

    font-weight: 700;
    font-size: 34.88px;
    line-height: 48px;
    letter-spacing: -0.2px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 64px;
    color: #0A2540;

}
.textWrapper>input{
    width: 158.66px;
    height: 33px;
    border-radius: 16.5px;
    background-color: #635BFF;
    color: white;
    font-weight: 500;
    font-size: 13.36px;
    letter-spacing: 0.2px;


}
.textWrapper>p{
    width: 460px;

    font-weight: 500;
    font-size: 16.45px;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding-top: 20px;
    color: #425466;
}
.textWrapper>img{
    margin-left: -18px;
}


.quantum-wrapper{
    
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    
}

.custom-form {

    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr); /* Columns for each plan */
    max-width: 1100px;
    
    /* width: 438px;
    height: 42.99px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-items: stretch; /* Ensures each input fills its column */
    padding-top: 0.81px;
    padding-right: 22.71px;
    padding-bottom: 0.81px;
    padding-left: 22.71px;
    border-bottom: 0.81px solid black;
    /* box-shadow: 0px 40.56px 81.11px -16.22px rgba(50, 50, 93, 0.25); */ */
    box-shadow: 0px 24.33px 48.67px -24.33px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 40.56px 81.11px -16.22px rgba(50, 50, 93, 0.25);
    border: none;
 
}

div.checkbox{
    font-family: Inter;
    font-weight: 500;
    font-size: 8.09px;
    line-height: 11.36px;
    margin: 5%;
    padding-top: 11.36px;
    accent-color: rgba(153, 102, 255, 1);
    margin-top: 10px;
    border: none;
    display: block;
    
}

.form-header{

    padding: 16px;
    background: #ffffff;
    border-bottom: 2px solid #dcdcdc;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    height: 43px;
    display: flex;
    align-items: center;
    grid-column: 3 span;
    justify-content: space-between;
    font-weight: 500;
    font-size: 8.09px;
    line-height: 11.36px;
    color: rgba(63, 75, 102, 1);
    ;

}

.quantum-header{
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 14px;

}
  
.form-header>span{
    width: 43;
    height: 18;
    color: rgba(63, 75, 102, 1);
    font-size: 16px;

    
  }

.quantum-title{

    font-size: 16px;
    font-weight: bold;
    color: #2E3A55;
    font-family: Inter;
    font-weight: 500;
    font-size: 11.03px;
    line-height: 17.03px;
    align-content: center;
}
 


.form-field,
.form-fieldMiddle {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}
.form-field {

    color: rgba(63, 75, 102, 1);
   
  }
  
.form-fieldMiddle {

    
    align-items: center;
    background-color: rgba(246, 249, 252, 1);
    border-radius: 6.49px;
    color: rgba(63, 75, 102, 1);

   
  }
  
  .Subscribe {
    
    height: 27.16px;
    border-color: transparent;
    background-color: rgba(153, 102, 255, 1);
    font-family: Inter;
    font-weight: 500;
    font-size: 8.9036px;
    line-height: 14.6px;
    color:rgba(255, 255, 255, 1);
    display: block;
    width: 100%;
    border-radius: 3.24px;
    font-weight: bold;
    text-align:center;
    align-items: center;
    justify-content: center;
    margin-top: 20px
        
  }
 
